# Build directories
build/
install/
log/
ws_moveit2/build/
ws_moveit2/install/
ws_moveit2/log/



# Log files
*.log

# Large model weights
ws_moveit2/src/screw_detector/weights/*.pth
ws_moveit2/src/handeye_calibration_ros2/handeye_realsense/resource/
