<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
 <xacro:macro name="add_environment" params="parent:=world">
  <link name="environment">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://moveit_backend/meshes/environment/umgebungV.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://moveit_backend/meshes/environment/umgebung_collision.STL" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  <joint name="environment_fixed" type="fixed">
    <parent link="${parent}"/>
    <child link="environment"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
 </xacro:macro>
</robot>